@import "src/styles/variables";

#risk-control-container {
  .form-wrapper {
    width: 246px;
    margin: 0 auto;

    .currency-select-wrapper {
      &.disabled {
        span {
          color: $darkGrey;
        }
      }
    }

    input.invalid {
      color: $red;
    }

    .money-input {
      width: 100%;
    }

    .time-input {
      width: 40px;
    }

    .time-input-wrapper {
      display: flex;
      justify-content: center;
      margin-bottom: 31px;

      input {
        margin: 0;
        width: 65px;
        text-align: center;
      }

      .colon {
        margin: 5px 10px 0px;
      }

      .input-wrapper {
        text-align: center;
      }

      .time-input-label {
        margin-top: 5px;
        font-size: 13px;
        font-style: italic;
        color: $darkerGrey;
      }
    }
  }
}
