@import "src/styles/variables";

#risk-control-container {
  .form-wrapper {
    width: 100%;
    margin: 0 auto;

    .currency-select-wrapper {
      &.disabled {
        select {
          color: $darkGrey;
          border: 1px solid $darkGrey !important;
        }

        span {
          color: $darkGrey;
        }
      }
    }

    input.invalid {
      color: $red;
    }

    .money-input {
      width: 100%;
    }

    .time-input {
      width: 40px;
    }

    .time-input-wrapper {
      display: flex;
      justify-content: center;
      margin-bottom: 31px;

      input {
        margin: 0;
        width: 65px;
        text-align: center;
      }

      .colon {
        margin: 5px 10px 0px;
      }

      .input-wrapper {
        text-align: center;
      }
    }
  }
}
