@import "src/styles/variables";

.move-select-container {
  width: 100%;
  display: flex;
  justify-content: center;

  .list-wrapper {
    .list-label {
      color: $black;
      font-size: 14px;
      margin-bottom: 10px;
    }

    select.options {
      border: 1px solid $darkGrey;
      height: 178px;
      min-width: 200px;

      option {
        font-size: 14px;
        padding: 3px 0 3px 10px;
        min-height: 22px;

        &:checked {
          background: $primaryGradient3 linear-gradient(0deg, $primaryGradient3 0%, $primaryGradient3 100%);
        }
      }
    }
  }

  .desktop-buttons {
    min-width: 160px;
    position: relative;

    .move-select-button {
      min-width: 30px;
      min-height: 30px;
      font-size: 11px;
      position: absolute;
      background: $primaryGradient2;
      cursor: pointer;

      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
      }
    }

    .add-button {
      top: 80px;
      left: 25px;
    }

    .add-all-button {
      top: 125px;
      left: 25px;
    }

    .remove-button {
      top: 80px;
      right: 25px;
      transform: rotate(180deg);
    }

    .remove-all-button {
      top: 125px;
      right: 25px;
      transform: rotate(180deg);
    }
  }
}
