@import "src/styles/variables";

#home-container {
  width: 100vw;
  height: 100vh;
  background: $primaryGradient1;
}

#login-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 280px;
}
