@import "src/styles/variables";

#account-container {
  font-size: 16px;
  position: relative;
  display: none;

  .row {
    margin: 0 0 30px 0;
  }

  .header{
    color: $primaryGradient1;
    font-weight: bold;
  }

  .account-information-body {
    display: flex;
  }

  .account-picture-wrapper {
    width: 500px;
    margin-right: 60px;
  }

  .personal-details-wrapper {
    flex: 1;
  }

  .save-button-wrapper {
    display: flex;
    flex-direction: row-reverse;

    .save-button {
      width: 171px;
    }

    .save-message {
      align-self: center;
      margin-right: 30px;
      color: $primaryGradient3;
      display: none;
    }
  }

  .change-password-wrapper {
    .input-row {
      display: flex;
      margin-bottom: 20px;

      input {
        border: 1px solid $greyTextboxBorder;
        width: 255px;
        margin-right: 40px;
      }

      .save-password-button-wrapper {
        display: flex;
        flex: 1;
        flex-direction: row-reverse;

        .save-password-button {
          width: 171px;
        }

        .save-password-message {
          align-self: center;
          margin-right: 30px;
          color: $primaryGradient3;
          display: none;
        }
      }
    }

    .message {
      color: $primaryGradient3;
      display: none;
    }
  }

  .change-picture-wrapper {
    width: 480px;
  }
}
