@import "src/styles/variables";

#compliance-container {
  font-size: 16px;
  position: relative;
  display: none;

  .row {
    margin: 0 0 30px 0;
  }

  .cards-wrapper {
    display: flex;
    margin-top: 15px;
  }

  .card-wrapper {
    height: 150px;
    width: 240px;
    margin-right: 60px;

    &.last-card {
      margin: 0;
    }
  }

  .save-button {
    margin-top:10px;
    width: 200px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .save-message {
    color: $primaryGradient3;
    margin-top:10px;
    display: none;
    text-align: center;

    &.red {
      color: $red;
    }

    &.purple {
      color: $primaryGradient3;
    }
  }
}
