@import "src/styles/variables";

#compliance-container {
  font-size: 16px;
  position: relative;
  display: none;

  .row {
    margin: 0 0 30px 0;
  }

  .group-id {
    text-align: right;
    color: $primaryGradient1;
    font-weight: bold;
  }

  .cards-wrapper {
    display: flex;
    margin-top: 15px;
  }

  .card-wrapper {
    height: 150px;
    width: 240px;
    margin-right: 60px;

    &.last-card {
      margin: 0;
    }
  }

  .save-button {
    margin-top:10px;
    width: 200px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .save-message {
    color: $primaryGradient3;
    margin-top:10px;
    display: none;
    text-align: center;

    &.red {
      color: $red;
    }

    &.purple {
      color: $primaryGradient3;
    }
  }

  .add-rule-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    height: 40px;

    .icon-add {
      height: 16px;
      font-size: 16px;
      color: $primaryGradient3;
      cursor: pointer;
      margin-right: 15px;
      margin-left: 2px;
      transform: rotate(0deg);
    }

    .title {
      flex: 1;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      margin-top: 2px;
    }
  }

  #add-rule-modal {
    .modal-dialog {
      width: 300px;

      .modal-content {
        padding: 0;

        .modal-header {
          padding:15px 15px 0 15px;
        }
      }
    }

    .buttons {
      padding: 15px;

      .button {
        width: 127px;
      }
    }

    .new-rule-select-button {
      margin-right: 15px;
    }

    .rule-types {
      ul {
        list-style-type: none;
        padding-left: 0;
        height: 324px;
        overflow-y: auto;

        li {
          padding: 7px 15px;
          cursor: pointer;

          &:hover {
            background-color: $primaryGradient3;
            color: $white;
          }

          &.selected {
            background-color: $primaryGradient3;
            color: $white;
          }
        }
      }
    }
  }
}

main.mobile {
  #compliance-container{
    #add-rule-modal {
      .modal-dialog {
        width: 100vw;

        .modal-content {
          display: flex;
          flex-direction: column;

          .modal-body {
            height: 400px;
            display: flex;
            flex-direction: column;

            .rule-types {
              flex: 1;
              overflow-y: auto;

              ul {
                height: auto;
                overflow-y: auto;

                li:hover {
                  background-color: $white;
                  color: $black;
                }

                li.selected {
                  background-color: $primaryGradient3;
                  color: $white;
                }
              }
            }

            .buttons {
              display: flex;

              .button {
                flex: 1;
              }
            }
          }
        }
      }
    }
  }
}
