@import "src/styles/variables";

.top-nav-notification-container {
  position: absolute;
  top: 18px;
  right: 30px;
  font-size: 22px;
  color: $primaryGradient5;

  .icon-notification {
    position: relative;

    &.new, &.opened {
      color: $primaryGradient1;
    }
  }

  .count-label-wrapper {
    display: none;

    &.new {
      display: initial;
      position: absolute;
      left: -10px;
      top: -1px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: $red;

      .count-label {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $white;
        font-size: 10px;
        font-weight: bold;
      }
    }
  }

  .list-panel {
    position: absolute;
    top: 42px;
    right: -3px;
    width: 350px;
    height: 433px;
    background: $white;
    box-shadow: 1px 1px 5px $darkGrey;
    cursor: auto;
    display: flex;
    flex-direction: column;

    .pointer {
      position: absolute;
      top: -3px;
      right: 4px;
      width: 20px;
      height: 20px;
      background: $primaryGradient1;
      transform: rotate(45deg);
    }

    .header {
      background: $primaryGradient1;
      color: $primaryGradient5;
      font-size: 13px;
      padding: 10px;
    }

    .body {
      .slimScrollBar {
        opacity: 0;
      }

      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
          position: relative;
          padding: 10px 25px 10px 50px;
          margin: 0;
          list-style-type: none;
          cursor: pointer;
          background: $lightestGrey;
          border-top: 1px solid $lightGrey;

          span {
            position: absolute;
            top: 15px;
            left: 15px;
            color: $primaryGradient3;
          }

          .read-dot {
            position: absolute;
            top: 10px;
            right: 10px;
            min-width: 10px;
            min-height: 10px;
            border-radius: 50%;
            display: none;

            &.unread {
              border: 2px solid $primaryGradient4;
            }

            &.read {
              border: 2px solid $primaryGradient4;
              background-color: $primaryGradient4;
            }
          }

          .title {
            color: $black;
            font-size: 16px;
          }

          .description {
            height: 36px;
            color: $black;
            font-size: 13px;
            text-overflow: ellipsis;
          }

          &:hover {
            background: $lightGrey;

            .read-dot.unread {
              border: 2px solid $primaryGradient4;
              display: initial;
            }

            .read-dot.read {
              display: none;
            }
          }

          &.new {
            background: $primaryGradient6;

            &:hover {
              background: $lightGrey;

              .read-dot.unread {
                display: none;
              }

              .read-dot.read {
                border: 2px solid $primaryGradient4;
                background-color: $primaryGradient4;
                display: initial;
              }
            }
          }
        }
      }
    }
  }

  .button-area {
    position: absolute;
    top: -4px;
    right: 0;
    min-width: 24px;
    min-height: 32px;
    cursor: pointer;

    &.new {
      min-width: 32px;
    }
  }
}
