@import "src/styles/variables";

#search-profiles-container {
  display: none;

  .search-profiles-wrapper {
    display: flex;
    flex-direction: column;

    .menu-info-wrapper {
      display: flex;
      width: 100%;

      .new-account-btn {
        width: calc(100% - 8px);
        margin-right: 16px;
      }

      .new-group-btn {
        width: calc(100% - 8px);
      }

      .count-label-wrapper {
        text-align: left;
        margin-bottom: 15px;
        display: none;

        .counter {
          font-weight: bold;
        }
      }
    }

    .search-wrapper {
      flex: 1;
      padding: 15px 0 0 0;
      height: calc(100vh - 60px);
      over-flow: auto;

      .search-input-wrapper {
        position: relative;
        margin-bottom: 15px;

        .search-input {
          width: 100%;
          height: 30px;
          border: 1px solid $darkGrey;
        }

        .icon-magnifying_glass {
          position: absolute;
          right: 8px;
          top: 8px;
          color: $darkGrey;
          cursor: pointer;
        }
      }
    }
  }
}

#new-group-modal {
  width: 100%;

  .modal-header {
    margin-bottom: 10px;
  }

  .name-input {
    width: 100%;
    border: 1px solid $darkGrey;
  }

  .buttons-wrapper {
    display: flex;
    margin-top: 20px;

    .create-button {
      width: calc(100% - 8px);
      margin-right: 16px;
    }

    .cancel-button {
      width: calc(100% - 8px);
    }
  }
}
