@import "src/styles/variables";

.primary-button-container {
  background: $lightGrey;
  color: $darkerGrey;
  padding: 5px 0;
  display: inline-block;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  text-align: center;

  &.enabled {
    background: $primaryGradient1Light;
    border: 1px solid $primaryGradient1Light;
    color: $white;
    cursor: pointer;

    &:hover {
      background: $primaryGradient1;
      border: 1px solid $primaryGradient1;
    }
  }
}
