@import "src/styles/variables";

.profit-loss-panel-container {
  border: 1px solid $white;
  margin-bottom: 30px;

  .header {
    display: flex;
    width: 100%;
    align-items: center;
    height: 40px;

    .icon-expand {
      height: 23px;
      font-size: 25px;
      color: $primaryGradient3;
      cursor: pointer;
      margin-right: 5px;
      transform: rotate(0deg);
    }

    .title {
      flex: 1;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      margin-top: 4px;
    }

    .currency {
      margin-left: 10px;
      margin-top: 5px;
      padding-right: 40px;
      border-right: 1px solid $lightGrey;
    }

    .pnl-total {
      padding-left: 40px;
      margin-top: 5px;
      padding-right: 40px;
      border-right: 1px solid $lightGrey;
      width: 218px;
    }

    .volume-total {
      padding-left: 40px;
      margin-top: 5px;
      width: 150px;
    }

    .value-field {
      font-weight: bold;

      &.profit {
        color: $green;
      }

      &.loss {
        color: $red;
      }
    }

    .expanded {
      color: $primaryGradient1;
      transform: rotate(90deg) !important;
      animation: arrowExpand .5s;
      -webkit-animation-fill-mode: forwards;
    }

    .collapsed {
      color: $primaryGradient3;
      transform: rotate(-90deg);
      animation: arrowCollapse .5s;
      -webkit-animation-fill-mode: forwards;
    }
  }

  .content-slide-wrapper {
    width: 520px;
    height: 0px;
    overflow: hidden;
    padding-left: 40px;

    .content-wrapper {
      padding-top: 30px;
      padding-bottom: 10px;
    }

    table {
      width: 100%;
      text-align: center;
      margin-bottom: 20px;

      thead {
        border: 1px solid $lightGrey;
        height: 30px;
        font-weight: bold;

        td {
          padding: 15px 0;
        }
      }

      tbody {
        border-left: 1px solid $lightGrey;
        border-right: 1px solid $lightGrey;
        border-bottom: 1px solid $lightGrey;

        tr {
          height: 30px;

          &.first-row {
            td {
              padding-top: 10px;
            }
          }

          &.last-row {
            td {
              padding-bottom: 10px;
            }
          }
        }

        td {
          vertical-align: middle;
          padding: 5px 0;
          color: $black;
          padding-top: 2px;
        }
      }
    }
  }
}

main.mobile {
  .profit-loss-panel-container {
    margin-bottom: 40px;

    .header {
      .price {
        display: none;
      }

      .label-cell {
        padding-left: 10px;
        padding-right: 15px;
      }
    }

    .content-slide-wrapper {
      width: 100%;
      padding-left: 0px;
      padding-right: 0px;

      thead {
        font-size: 14px;
      }
    }
  }
}
