@import "src/styles/variables";

.dropdown-container {
  position: relative;

  select {
    width: 100%;
    padding-top: 4px;
    padding-right: 35px;
    padding-bottom: 4px;
    padding-left: 15px;
    background-color: $lighterGrey;
    background-position: right;
    background-repeat: no-repeat;
    background-position: right 10px bottom 7px;
    background-size: 14px 14px;
    border: 1px solid $lightGrey;
    border-radius: 0px;
  }

  .icon-arrow-down {
    position: absolute;
    right: 10px;
    top: 12px;
    height: 0;
    overlfow: visible;
    pointer-events:none;
    font-size: 10px;
    cursor: pointer;
  }

  &.disabled {
    .icon-arrow-down {
      color: $darkGrey;
    }
  }
}
