@import "src/styles/variables";

.report-status-panel-container {
  width: 100%;
  background: $primaryGradient1;
  color: $primaryGradient5;
  text-align: center;

  .header {
    padding: 5px 0;
    cursor: pointer;

    .arrow-icon {
      margin-left: 15px;
      font-size: 10px;
    }
  }

  .body {
    background: $lightestGrey;
    height: 0px;
    overflow: hidden;

    ul {
      padding: 0;
      margin: 0;

      li {
        display: flex;
        color: $black;
        padding: 20px 0;
        cursor: pointer;

        .item-container {
          display: flex;
          align-items: center;
          width: $minSiteWidth;
          margin: 0 auto;
          height: 50px;

          .icon-wrapper {
            width: 100px;
            text-align: right;

            span {
              color: $primaryGradient3;
              font-size: 20px;
            }
          }

          .type-label-wrapper {
            width: 215px;
            text-align: center;
          }

          .description-wrapper {
            width: 655px;
            text-align: left;

            .text-container {
              width: 100%;
            }
          }

          .status-wrapper {
            width: 200px;
            text-align: center;
          }
        }

        &:hover {
          background: $lightGrey;
        }
      }
    }
  }
}

main.mobile {
  .report-status-panel-container {
    .body {
      li {
        padding: 10px 0;

        .item-container {
          display: flex;
          width: 100%;
          margin: 0 auto;
          height: 75px;

          .icon-wrapper {
            width: 40px;
            padding-right: 10px;

            span {
              color: $primaryGradient3;
              font-size: 20px;
            }
          }

          .content-wrapper {
            width: calc(100vw - 40px);
            height: 80px;
            display: flex;
            flex-direction: column;
            padding-right: 20px;

            .upper-wrapper {
              width: 100%;
              display: flex;

              .type-label-wrapper {
                width: 100%;
                text-align: left;
                flex: 1;
                margin-bottom: 5px;
              }

              .status-wrapper {
                text-align: right;
                width: 150px;
              }
            }

            .description-wrapper {
              width: 100%;
              text-align: left;

              .text-container {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
