@import "src/styles/variables";

#new-account-container {
  font-size: 16px;
  position: relative;

  .row {
    margin: 0 0 30px 0;
  }

  .page-top-header {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
  }

  .user-notes-header{
    color: $primaryGradient1;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .account-information-body {
    display: flex;
  }

  .account-picture-wrapper {
    width: 500px;
    margin-right: 60px;
  }

  .personal-details-wrapper {
    flex: 1;
  }

  .create-button-wrapper {
    display: flex;
    flex-direction: row-reverse;

    .create-button {
      width: 171px;
    }

    .create-message {
      align-self: center;
      margin-right: 30px;
      color: $primaryGradient3;
      display: none;
    }
  }

  .change-picture-wrapper {
    width: 480px;
  }
}
