@import "src/styles/variables";

.portfolio-chart-container {
  position:relative;
  width: 100%;
  height: 100%;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  overflow-x: auto;

  .header {
    height: 62px;
    width: 100%;
    background: white;
    overflow-y: hidden;
    overflow-x: visible;

    table {
      border-left: 1px solid $lightGrey;
      border-top: 1px solid $lightGrey;
      border-right: 1px solid $lightGrey;
      border-bottom: 1px solid $lightGrey;
      margin-left: auto;
      margin-right: auto;
    }

    td {
      position: relative;
      padding: 20px 20px;
      white-space: nowrap;
      cursor: pointer;

      &:hover {
        background: $lighterGrey;
      }
    }

    .icon-arrow-icon-down, .icon-arrow-icon-up {
      position: absolute;
      right: 7px;
      top: 50%;
      transform: translate(0, -50%);
      font-size: 7px;
    }
  }

  .body {
    flex: 1;
    min-width: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    table {
      border-right: 1px solid $lightGrey;
      border-bottom: 1px solid $lightGrey;
      border-left: 1px solid $lightGrey;
      margin-left: auto;
      margin-right: auto;
    }

    tr:nth-child(even) {
      background-color: $lightestGrey;
    }

    tr {
      cursor: pointer;

      &:hover{
        background: $primaryGradient6;
      }

      &.selected {
        background: $primaryGradient5;
      }
    }

    td {
      padding: 10px 20px;
      white-space: nowrap;

      &.profit {
        color: $green;
      }

      &.loss {
        color: $red;
      }
    }
  }
}
