@import "src/styles/variables";

.portfolio-chart-container {
  position:relative;
  width: 100%;
  height: 100%;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  overflow: scroll;

  .header {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 61px;
    background: white;
    z-index: 100;

    &.wide {
      left: 50%;
      transform: translate(-50%, 0);
    }

    table {
      border: 1px solid $lightGrey;
      margin-left: auto;
      margin-right: auto;
    }

    td {
      position: relative;
      padding: 20px 20px;
      white-space: nowrap;
      cursor: pointer;

      &:hover {
        background: $lighterGrey;
      }
    }

    .icon-arrow-icon-down, .icon-arrow-icon-up {
      position: absolute;
      right: 7px;
      top: 50%;
      transform: translate(0, -50%);
      font-size: 7px;
    }
  }

  .header-filler {
    min-height: 61px;
  }

  .fixed-column {
    position: absolute;
    top: 0px;
    left: 0px;
    background: white;
    z-index: 200;

    .fixed-column-header {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 400;
      border-top: 1px solid $lightGrey;
      border-right: 1px solid $lightGrey;
      border-left: 1px solid $lightGrey;
      border-bottom: 1px solid $lightGrey;
      opacity: 0;

      td {
        position: relative;
        padding: 20px;
        background: $white;
        cursor: pointer;

        &:hover {
          background: $lighterGrey;
        }

        .icon-arrow-icon-down, .icon-arrow-icon-up {
          position: absolute;
          right: 7px;
          top: 50%;
          transform: translate(0, -50%);
          font-size: 7px;
        }
      }
    }

    .fixed-column-body {
      position: absolute;
      top: 60px;
      left: 0;
      z-index: 300;
      border-right: 1px solid $lightGrey;
      border-left: 1px solid $lightGrey;

      td {
        padding: 10px 20px;
      }

      tr:nth-child(even) {
        background-color: $lightestGrey;
      }

      tr:nth-child(odd) {
        background-color: $white;
      }
    }
  }

  .body {
    flex: 1;
    width: 100%;

    table {
      border-right: 1px solid $lightGrey;
      border-bottom: 1px solid $lightGrey;
      border-left: 1px solid $lightGrey;
      margin-left: auto;
      margin-right: auto;
    }

    tr:nth-child(even) {
      background-color: $lightestGrey;
    }

    td {
      padding: 10px 20px;
      white-space: nowrap;

      &.profit {
        color: $green;
      }

      &.loss {
        color: $red;
      }
    }
  }
}
