$white: #ffffff;
$light: #e6e6e6;
$dark: #4d4d4d;
$grey: #7d7d7d;
$red: #ec3d2b;
$blue: #113d92;
$lightBlue: #258ce7;

$blueBackground: #2ca1db;

$primaryBtn: #2ca1db;
$primaryBtnHover: #2499ce;
$whiteBtn: white;
$whiteBtnHover: #f0f4fa;
$yellowMessage: #dbd52c;    // this is the yellow message on top of $blueBackground