$white: #ffffff;
$light: #e6e6e6;
$dark: #4d4d4d;
$grey: #7d7d7d;
$red: #ec3d2b;
$blue: #113d92;
$lightBlue: #258ce7;

$primaryGradient1: #4b23a0;
$primaryGradient2: #684bc7;
$primaryGradient3: #8d78ec;
$primaryGradient4: #b9b4ec;
$primaryGradient5: #e2e0ff;
$primaryGradient6: #f2f5ff;

$primaryBtn: #2ca1db;
$primaryBtnHover: #2499ce;
$whiteBtn: #e9e9ff;
$whiteBtnHover: White;
$yellowMessage: #dbd52c; // this is the yellow message on top of $blueBackground