@charset "UTF-8";
@import "./variables";

@font-face {
  font-family: 'Roboto';
  src: url('../resources/fonts/Roboto-Regular.ttf');
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

input {
  background: transparent;
  border: 1px solid;
  padding: 0.5rem;
  outline: none;

  &:focus {
    &::-webkit-input-placeholder {
      opacity: 0;
    }
    &:-moz-placeholder {
      opacity: 0;
    }
    &::-moz-placeholder {
      opacity: 0;
    }
    &:-ms-input-placeholder {
      opacity: 0;
    }
  }
}

button {
  border: 0;
  outline: none;
}

@mixin button-style {
  padding: 0.7em 0;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.primary-btn {
  @include button-style;
  background: $primaryBtn;

  &:hover {
    background: $primaryBtnHover
  }

}

.white-btn {
  @include button-style;
  background: $white;
  color: $blueBackground;

  &:hover {
    background: $whiteBtnHover
  }
}