@import "src/styles/variables";

.text-area-container {
  width: 100%;

  .text-area-input {
    width: 100%;
    height: 16em;
    border: 1px solid $greyTextboxBorder;
    resize: none;
    padding: 10px;
    outline: none;
  }
}
