@import "src/styles/variables";

#risk-control-request-confirmation-container {
  .content-wrapper {
    padding-bottom: 30px;
    
    .title-wrapper {
      text-align: center;
      font-size: 20px;
      margin-top: 20px;
    }

    .account-details {
      display: flex;
      flex-direction: column;
      font-size: 14px;
      margin-top: 30px;
      margin-left: 50%;
      transform: translate(-50%, 0);

      .details-row {
        span {
          font-weight: bold;
        }
      }
    }

    .change-details {
      margin-top: 20px;
      display: flex;
      justify-content: center;

      table {
        border-spacing: 10px;
        border-collapse: separate;

        thead {
          font-weight: bold;

          .purple {
            color: $primaryGradient1;
          }
        }

        td {
          width: 140px;
          padding-right: 20px;
          padding-left: 10px;
          padding-top: 5px;
          padding-bottom: 5px;

          &.changed {
            background: $yellowChangeMarker;
          }
        }
      }
    }

    .comments-wrapper {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;

      .comment-wrapper {
        margin-bottom: 20px;
        width: 100%;
    
        .author {
          font-weight: bold;
          margin-bottom: 5px;
        }
      }
    }

    .button-wrapper {
      display: flex;
      justify-content: center;

      .ok-button {
        width: 200px;
      }
    }
  }
}