@import "src/styles/variables";

#portfolio-container {
  font-size: 16px;
  position: relative;
  display: none;
  height: calc(100vh - 75px);
  flex-direction: column;

  .chart-outer-wrapper {
    position: relative;
    width: 100vw;
    flex: 1;

    .chart-inner-wrapper {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      padding: 30px;
    }
  }
}
