@import "src/styles/variables";

#portfolio-container {
  font-size: 16px;
  position: relative;
  display: none;
  height: calc(100vh - 75px);
  flex-direction: column;

  .chart-outer-wrapper {
    position: relative;
    width: 100vw;

    &.stretch {
      flex: 1;
    }
  }

  .total-wrapper {
    margin-top: 10px;
    padding: 7px;
    font-size: 13px;
    text-align: center;
    display: flex;
    justify-content: center;

    div {
      padding: 0;
      margin-right: 20px;

      &:last-of-type {
        margin-right: 0px;
      }
    }
  }
}
