@import "src/styles/variables";

#portfolio-container {
  font-size: 16px;
  position: relative;
  display: none;
  height: calc(100vh - 75px);
  flex-direction: column;
  width: auto !important;

  .total-wrapper {
    margin-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 17px;
    font-size: 13px;
    display: flex;

    div {
      padding: 0;

      &.total-label {
        padding-right: 6px;
      }

      &.total-value {
        width: 65px;
      }

      &:last-of-type {
        margin-right: 0px;
      }

      &.menu {
        flex: 1;
        display: flex;
        flex-direction: row-reverse;

        div {
          position: relative;
          padding-left: 20px;
          margin-left: 20px;
          cursor: pointer;
          font-size: 14px;
          color: $darkerGrey;

          span {
            position: absolute;
            top: 2px;
            left: 0px;
            color: $darkerGrey;
          }

          &:hover {
            color: $primaryGradient1;

            span {
              color: $primaryGradient1;
            }
          }
        }
      }
    }
  }

  .table-wrapper {
    display: flex;
    flex: 1;
    padding-bottom: 20px;
  }
}
