#top-nav-wrapper {
  width: 100vw;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid #ebebeb;
}

#top-nav-filler {
  height: 75px;
  width: 1px;
}

#side-menu-wrapper{
  position: fixed;
  top: 0;
  left: 0;
}