@import "src/styles/variables";

.viewport {
  min-width: $minSiteWidth;

  &.mobile {
    min-width: inherit;
  }
}

#top-nav-wrapper {
  width: 100%;
  height: 61px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1030;
  border-bottom: 1px solid #ebebeb;
  min-width: $minSiteWidth;
  background: $white;
}

.viewport.mobile #top-nav-wrapper {
  min-width: inherit;
}

#top-nav-filler {
  height: 75px;
  width: 1px;
}

#side-menu-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;

  #menu-grey-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: $black;
    opacity: 0.5;
    display: none;
    z-index: -1;
  }
}

#content-wrapper {
  position: relative;
  z-index: -1;
}
