@import "src/styles/variables";

$desktopWidth: 700px;

#modification-request-history-container {
  font-size: 16px;
  position: relative;
  display: none;
  margin-top: 10px;

  .requests-wrapper {
    width: $desktopWidth;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    .request-wrapper {
      width: 100%;
      min-height: 90px;
      display: flex;
      flex-direction: column;
    }
  }

  .filters-wrapper {
    width: $desktopWidth;
    margin: 0 auto;
    display: flex;
    margin-bottom: 20px;

    .status-filter-wrapper {
      width: 60%;
      font-size: 13px;
      display: flex;
      padding-left: 18px;

      .select-wrapper {
        margin-left: 10px;
        position: relative;
        top: -2px;

        select {
          border: 1px solid $darkGrey;
          border-radius: 0;
          background: $lighterGrey;
          padding: 2px 5px;
          padding-right: 20px;
        }

        span {
          position: absolute;
          top: 8px;
          right: 5px;
          font-size: 10px;
          cursor: pointer;
        }
      }
    }

    .status-filter-wrapper {
      display: flex;
      justify-content: flex-end;

      div {
        padding-right: 20px;

        span {
          position: relative;
          top: 1px;
          margin-right: 3px;
          color: $darkGrey;
          cursor: pointer;
        }

        &.selected {
          span {
            color: $green;
          }
        }
      }
    }

    .account-filter-wrapper {
      flex: 1;
      display: flex;
      font-size: 13px;
      padding-left: 20px;

      .my-account {
        margin-right: 39px;
      }

      .menu-item {
        cursor: pointer;
        color: $darkerGrey;

        &.selected {
          color: $primaryGradient1;
        }
      }
    }
  }
}
