@import "src/styles/variables";

.notification-display-panel-container {
  overflow-y: hidden;
  height: 0;

  &.opened {
    max-height: 336px;
    animation-name: notificationsSlideOpen;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    border-bottom: 1px solid $lightGrey;
    background: $white;
  }

  &.closed {
    height: 0px;
    overflow-y: hidden;
    animation-name: notificationsSlideClose;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
  }

  ul {
    overflow-y: auto;
    max-height: 336px;
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      min-height: 84px;
      max-height: 84px;
      position: relative;
      padding: 10px 60px 10px 50px;
      margin: 0;
      list-style-type: none;
      cursor: pointer;
      background: $lightestGrey;

      &:not(:first-child) {
        border-top: 1px solid $lightGrey;
      }

      span {
        position: absolute;
        top: 15px;
        left: 15px;
        color: $primaryGradient3;
      }

      .title {
        color: $black;
        font-size: 16px;
      }

      .description {
        height: 36px;
        color: $black;
        font-size: 13px;
        text-overflow: ellipsis;
      }

      .read-button {
        position: absolute;
        top: 0;
        right: 0;
        min-height: 83px;
        width: 60px;

        .read-dot {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          min-width: 10px;
          min-height: 10px;
          border-radius: 50%;
          border: 2px solid $lightGrey;
        }
      }

      &.new {
        background: $primaryGradient6;

        .read-dot {
          background: $lightGrey;
        }
      }
    }
  }
}

@keyframes notificationsSlideOpen {
  0% {
    height: 0px;
  }
  100% {
    height: 335px;
  }
}

@keyframes notificationsSlideClose {
  0% {
    height: 335px;
  }
  100% {
    height: 0px;
  }
}
