@import "src/styles/variables";

.account-modification-request-container {
  width: 100%;
  border-top: 1px solid $lightGrey;
  flex: 1;
  display: flex;
  cursor: pointer;
  padding-top: 2px;
  padding-bottom: 5px;

  &:hover {
    background: $lighterGrey;
  }

  .left-panel {
    position: relative;
    width: 65%;

    .title {
      position: absolute;
      top: 14%;
      left: 5%;
    }

    .account {
      position: absolute;
      top: 53%;
      left: 5%;
    }

    .requester {
      position: absolute;
      top: 53%;
      left: 37%;
    }

    .request-id {
      position: absolute;
      top: 53%;
      left: 69%;
    }
  }

  .legend {
    font-size: 13px;
    color: $darkerGrey;
  }

  .right-panel {
    width: 35%;
    position: relative;
    text-align: right;

    .timestamp {
      position: absolute;
      top: 14%;
      right: 9%;
    }

    .status {
      position: absolute;
      top: 53%;
      right: 9%;

      .green {
        color: $green;
      }

      .red {
        color: $red;
      }
    }
  }
}

main.mobile {
  .account-modification-request-container {

  }
}
