@import "src/variables";

#signin-container {
  width: 100%;
  text-align: center;
  font-size: 16px;

  .logo-container {
    width: 100%;
    position: relative;

    .preloader {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 150px;
      height: 52px;
      z-index: 100;
      opacity: 0;
    }

    .static {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 150px;
      height: 52px;
      z-index: 101;
    }
  }

  input {
    width: 100%;
    border: 0;
    border-bottom: 1px solid white;
    color: $white;
    text-align: center;

    &::-webkit-input-placeholder {
      text-align: center;
      color: $white;
    }

    &:-moz-placeholder {
      text-align: center;
      color: $white;
    }

    &::-moz-placeholder {
      text-align: center;
      color: $white;
    }

    &:-ms-input-placeholder {
      text-align: center;
      color: $white;
    }

    &:first-of-type {
      margin-top: 6em;
    }

    &:nth-of-type(2) {
      margin-top: 1.5em;
    }
  }

  .signin-btn {
    width: 100%;
    font-size: 17px;
    font-weight: 600;
    margin-top: 3em;
    background: $whiteBtn;
    color: $primaryGradient1;

    &:hover {
      background: $whiteBtnHover;
      color: $primaryGradient1;
    }
  }

  .message {
    margin-top: 2em;
    color: $yellowMessage;
    height: 1em;
  }
}