@font-face {
  font-family: 'Roboto';
  src: url(/fonts/Roboto/Roboto-Regular.ttf);
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(/fonts/Roboto/Roboto-Light.ttf);
  font-style: light;
}
