/* Login Page */

@font-face {
  font-family: 'Roboto';
  src: url(/fonts/Roboto/Roboto-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url(/fonts/Roboto/Roboto-Light.ttf);
  font-style: normal;
  font-weight: 300;
}

body {
  background-color: #2CA1DB;
  font-family: Roboto, sans-serif;
  text-align: center;
  color: #FFF;
  opacity: 1;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

#container {
  position: relative;
  width: 100%;
}

.login-page {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 130px;
  max-width: 7.94cm;
  width: 100%;
  overflow: hidden;
}

#logo {
  height: 1.19cm;
  margin-bottom: 1.72cm;
}

#login-form {
  margin-left: 0;
  padding-left: 0; 
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 26.46cm white inset;
}

input::-ms-clear {
  display: none;
}

.login-input {
  background-color: #2CA1DB;
  color: #FFF;
  font-family: Roboto, sans-serif;
  font-size: 0.42cm;
  font-weight: 300;
  height: 0.79cm;
  width: 100%;
  outline: none;
  border: none;
  text-align: center;
  bottom: 0.21cm;
  border-bottom: 0.026cm solid #FFF;
}

#login-username {
  margin-bottom: 0.396875cm;
  padding: 0;
}

#login-password {
  margin-bottom: 0.79cm;
  padding: 0;
}

.inactive {
  opacity: .9 !important;
}

#login-submit {
  color: #2CA1DB;
  background-color: #FFF;
  height: 1.46cm;
  width: 100%;
  margin-bottom: 1.03cm;
  border: none;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-size: 0.53cm;
  font-weight: 400;
  opacity: 1;
}

#login-submit:hover {
  opacity: .9;
}

.error-messages {
  border: none;
  padding: 0;
  color: rgb(219,213,44);
  font-family: Roboto, sans-serif;
  font-size: 0.42cm;
  font-weight: 400;
  width: 100%;
  display: block;
  text-align: center;
  margin: auto;
  height: 0.6cm;
  padding: 0;
}
