@import "src/styles/variables";

main.mobile {
  .new-personal-details-container {
    display: flex;

    .personal-label-row {
      display: flex;
      margin-bottom: 12px;
      height: 30px;
      border: 1px solid $white;
    }

    .personal-detail-row {
      position: relative;
      align-items: center;
      outline: none;
      border: 1px solid $white;
      padding-left: 5px;

      .personal-detail-label {
        margin-top: 20px;
        margin-bottom: 5px;
        font-size: 12px;
      }

      textarea {
        width: 100%;
        outline: none;
        resize: none;
        border: 1px solid $darkGrey;
        padding-left: 5px;
        padding-right: 5px;
        margin-left: -5px;
      }

      input {
        border: 1px solid $darkGrey;
        height: 28px;
        width: 100%;
        margin-left: -5px;
      }

      .role.icon {
        cursor: pointer;
      }
    }

    .details-container {
      width: 100%;

      .icon {
        font-size: 20px;
        margin-right: 10px;
        color: $greyedIcon;

        &.active {
          color: $primaryGradient1;
        }
      }
    }

    .group-tags {
      position: relative;
      left: -5px;
      border: 1px solid $darkGrey;
      border-radius: 0;

      input {
        padding-left: 5px;
      }
    }
  }
}
