@import "src/styles/variables";

#risk-controls-modification-review-container {
  .content-wrapper {
    .title-wrapper {
      text-align: center;
      font-size: 20px;
      margin-top: 20px;
    }

    .account-details {
      display: flex;
      font-size: 14px;
      justify-content: center;
      margin-top: 30px;

      .account {
        border-right: 1px solid $black;
        padding-right: 20px;
      }

      .requested {
        border-right: 1px solid $black;
        padding: 0 20px;
      }

      .request-id {
        padding-left: 20px;
      }
    }

    .status-message-wrapper {
      width: 100%;
      text-align: center;
      font-size: 16px;
      margin-top: 30px;
  
      span {
        position: relative;
        top: 2px;
      }
  
      &.approved {
        color: $green;
      }
  
      &.rejected {
        color: $red;
      }
    }

    .change-details {
      margin-top: 20px;
      display: flex;
      justify-content: center;

      table {
        border-spacing: 10px;
        border-collapse: separate;

        thead {
          font-weight: bold;

          .purple {
            color: $primaryGradient1;
          }
        }

        td {
          width: 140px;
          padding-right: 20px;
          padding-left: 10px;
          padding-top: 5px;
          padding-bottom: 5px;

          &.changed {
            background: $yellowChangeMarker;
          }
        }
      }
    }

    .comments-wrapper {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;

      .comment-wrapper {
        margin-bottom: 20px;
        width: 100%;
    
        .author {
          font-weight: bold;
          margin-bottom: 5px;
        }
      }
    }

    .footer-wrapper {
      width: 100%;
  
      &.confirm {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
      }
  
      .buttons-wrapper {
        display: flex;
        justify-content: center;
        margin-top: 30px;
  
        .approve-wrapper {
          margin-right: 30px;
        }
  
        .approve-button, .reject-button {
          padding: 5px 0;
          width: 200px;
        }
      }
  
      .confirm-button {
        width: 200px;
        padding: 5px 0;
        margin: 0 auto;
      }
    }

    .button-wrapper {
      display: flex;
      justify-content: center;

      .ok-button {
        width: 200px;
      }
    }
  }
}