@font-face {
  font-family: Roboto;
  src: url('fonts/roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: Roboto;
  src: url('fonts/roboto/Roboto-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: Roboto;
  src: url('fonts/roboto/Roboto-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Roboto;
  src: url('fonts/roboto/Roboto-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: Roboto;
  src: url('fonts/roboto/Roboto-Light.ttf');
  font-weight: 300;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100dvh;
  overflow: hidden;
}

#main {
  background-color: #ffffff;
  height: 100%;
  overflow: hidden;
}
