@import "src/styles/variables";

.account-modification-request-container {
  position: relative;
  width: 100%;
  border-top: 1px solid $lightGrey;
  flex: 1;
  display: flex;
  cursor: pointer;
  padding-top: 2px;
  padding-bottom: 5px;

  &:hover {
    background: $lighterGrey;
  }

  .left-panel {
    position: relative;
    flex: 1;

    .title {
      position: absolute;
      top: 14px;
      left: 20px;
      font-size: 16px;
    }

    .description {
      position: absolute;
      bottom: 14px;
      left: 20px;
      font-size: 14px;
    }
  }

  .legend {
    font-size: 13px;
    color: $darkerGrey;
  }

  .right-panel {
    flex: 1;
    position: relative;
    text-align: right;

    .timestamp {
      position: absolute;
      bottom: 14px;
      right: 20px;
      font-size: 14px;
    }

    .status {
      position: absolute;
      top: 14px;
      right: 20px;
      font-size: 16px;

      .green {
        color: $green;
      }

      .red {
        color: $red;
      }

      .yellow {
        color: $yellow;
      }
    }
  }
}

main.mobile {
  .account-modification-request-container {

  }
}
