@import "src/styles/variables";

main.mobile {
  #portfolio-container {
    padding: 0;
    font-size: 16px;
    position: relative;
    display: none;
    height: calc(100vh - 75px);
    flex-direction: column;

    .row {
      margin: 0 0 30px 0;
    }

    .generate-button {
      width: 200px;
    }

    .parameters-wrapper {
      display: flex;

      .start-date {
        margin-right: 40px;
      }

      .end-date {
        margin-right: 80px;
      }

      .generate-button-wrapper {
        flex: 1;
        text-align: right;

        .generate-button {
          width: 200px;
        }
      }
    }

    .report-header {
      color: $primaryGradient1;
      font-weight: bold;
      margin-top: 45px;
      margin-bottom: 20px;
    }

    .report-status-update-wrapper {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100vw;
      z-index: 2000;
    }

    .chart-outer-wrapper {
      position: relative;
      width: 100vw;

      &.stretch {
        flex: 1;
      }

      .chart-inner-wrapper {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        padding: 30px 15px;
      }
    }
  }
}
