@import "src/styles/variables";

#search-profiles-container {
  display: none;

  .search-profiles-wrapper {
    display: flex;

    .menu-info-wrapper {
      width: 195px;
      padding: 15px 60px 0 15px;

      .new-account-btn {
        width: 120px;
        margin-bottom: 15px;
      }

      .new-group-btn {
        width: 120px;
        margin-bottom: 30px;
      }

      .count-label-wrapper {
        text-align: left;
        margin-bottom: 15px;
        display: none;

        .counter {
          font-weight: bold;
        }
      }
    }

    .search-wrapper {
      flex: 1;
      padding: 15px 15px 0 0;
      height: calc(100vh - 75px);
      over-flow: auto;

      .search-input-wrapper {
        position: relative;
        margin-bottom: 15px;
        display: none;

        .search-input {
          width: 100%;
          height: 30px;
          border: 1px solid $darkGrey;
          margin-top: 1px;
          margin-bottom: 1px;
        }

        .icon-magnifying_glass {
          position: absolute;
          right: 8px;
          top: 9px;
          color: $darkGrey;
          cursor: pointer;
        }
      }
    }
  }
}

#new-group-modal {
  width: 280px;

  .modal-header {
    margin-bottom: 10px;
  }

  .name-input {
    width: 100%;
    border: 1px solid $darkGrey;
  }

  .buttons-wrapper {
    margin-top: 20px;

    .create-button {
      width: 120px;
      margin-right: 10px;
    }

    .cancel-button {
      width: 120px;
    }
  }
}
