ul.context-menu-list {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;

  li.context-menu-hover {
    background: $lighterGrey;
    color: $primaryGradient1;
  }

  li.context-menu-item {
    padding-top: 7px;
    padding-bottom: 7px;
  }
}
