@font-face {
  font-family: 'spireicons';
  src:    url('../../resources/fonts/spireicons.eot?uablue');
  src:    url('../../resources/fonts/spireicons.eot?uablue#iefix') format('embedded-opentype'),
  url('../../resources/fonts/spireicons.ttf?uablue') format('truetype'),
  url('../../resources/fonts/spireicons.woff?uablue') format('woff'),
  url('../../resources/fonts/spireicons.svg?uablue#spireicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'spireicons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
  content: "\32";
}
.icon-photo:before {
  content: "\31";
}
.icon-edit:before {
  content: "\7a";
}
.icon-performance:before {
  content: "\6b";
}
.icon-account:before {
  content: "\6a";
}
.icon-profit-loss:before {
  content: "\6c";
}
.icon-volatility:before {
  content: "\6d";
}
.icon-dot:before {
  content: "\79";
}
.icon-arrow-down:before {
  content: "\6e";
}
.icon-arrow-left:before {
  content: "\6f";
}
.icon-arrow-up:before {
  content: "\70";
}
.icon-change_image:before {
  content: "\71";
}
.icon-expand:before {
  content: "\72";
}
.icon-hide:before {
  content: "\73";
}
.icon-magnifying_glass:before {
  content: "\74";
}
.icon-admin:before {
  content: "\75";
}
.icon-manager:before {
  content: "\76";
}
.icon-service:before {
  content: "\77";
}
.icon-trader:before {
  content: "\78";
}
.icon-burger:before {
  content: "\69";
}
.icon-compliance:before {
  content: "\66";
}
.icon-entitlements:before {
  content: "\67";
}
.icon-risk_manager:before {
  content: "\68";
}
.icon-reports:before {
  content: "\61";
}
.icon-my_profile:before {
  content: "\62";
}
.icon-portfolio:before {
  content: "\63";
}
.icon-search:before {
  content: "\64";
}
.icon-signout:before {
  content: "\65";
}
