.modal {
  top: calc(100vh - 50vh);
  left: calc(100vw - 50vw);
  transform: translate(-50%, -50%);
}

.modal-open .modal {
  overflow: hidden;
}

.modal-content {
  border-radius: 0;
  border: 0;
  padding: 15px;
  margin: 0;
}

.modal-header {
  color: $black;
  font-size: 18px;
  border: 0;
  padding: 0;
  margin: 0 0 20px 0;
  position: relative;

  .icon-close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 18px;
    color: $darkGrey;
    cursor: pointer;
  }
}

.modal-body {
  padding: 0;
  margin: 0;
}

.modal-dialog {
  width: inherit;
}

main.mobile {
  .modal {
    width: 100vw;
    height: 100vh;

    .modal-dialog {
      margin: 0;
      width: 100vw;
      height: 100vh;
      overflow-y: auto;

      .modal-content {
        width: 100vw;
        height: 100vh;
      }
    }
  }
}
