$white: #ffffff;
$red: #d32f2f;
$lightGrey: #ebebeb;
$lighterGrey: #f6f6f6;
$lightestGrey: #fbfbfb;
$darkGrey: #c8c8c8;
$darkerGrey: #969696;
$black: Black;
$brightGreen: #4bca3b;
$green: #24aa08;
$primaryGradient1Light: #6849c6;

$primaryGradient1: #4b23a0;
$primaryGradient2: #684bc7;
$primaryGradient3: #8d78ec;
$primaryGradient4: #b9b4ec;
$primaryGradient5: #e2e0ff;
$primaryGradient6: #f2f2ff;

$primaryBtn: #2ca1db;
$primaryBtnHover: #2499ce;
$whiteBtn: #e9e9ff;
$whiteBtnHover: White;
$yellowMessage: #dbd52c; // this is the yellow message on top of $blueBackground

$minSiteWidth: 1170px;
$greyedIcon: #ebebeb;

$greyTextboxBorder: #c8c8c8;
$separatorLine: #ebebeb;
