---
server:
  interface: "$local_interface:20100"
  addresses: ["$global_interface:20100", "$local_interface:20100"]

data_store:
  address: $mysql_address
  username: $mysql_username
  password: $mysql_password
  schema: $mysql_schema

service_locator:
  address: $service_locator_address
  username: administration_service
  password: $admin_password

entitlements:
  - name: Demo Entitlements
    price: 0.00
    currency: USD
    group: demo_entitlements
    applicability:
      - source: CHIC
        messages: [BBO, BOOK, TAS, IMB]
      - source: LYNX
        messages: [BBO, BOOK, TAS, IMB]
      - source: NEOE
        messages: [BBO, BOOK, TAS, IMB]
      - source: OMGA
        messages: [BBO, BOOK, TAS, IMB]
      - source: PURE
        messages: [BBO, BOOK, TAS, IMB]
      - source: XATS
        messages: [BBO, BOOK, TAS, IMB]
      - source: XASX
        messages: [BBO, BOOK, TAS, IMB]
      - source: XCNQ
        messages: [BBO, BOOK, TAS, IMB]
      - source: XCX2
        messages: [BBO, BOOK, TAS, IMB]
      - source: XTSE
        messages: [BBO, BOOK, TAS, IMB]
      - source: XTSX
        messages: [BBO, BOOK, TAS, IMB]
      - source: OTCM
        messages: [BBO, BOOK, TAS, IMB]
      - source: ASTR
        messages: [BBO, BOOK, TAS, IMB]
...
