@import "src/variables";

.personal-details-container {
  display: flex;

  .personal-detail-row {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    height: 28px;
  }

  .labels-container {
    padding-right: 60px;
  }

  .details-container {
    width: 335px;

    .icon {
      margin-right: 10px;
      color: $greyedIcon;

      &.active {
        color: $primaryGradient1;
      }
    }

    .personal-detail-row {
      padding-left: 10px;
    }
  }
}